.main {
    margin-top: 10%;
    margin-left: 31%;
    margin-right: 5%;

}body {
     margin: 0;
     padding: 0;
     height: 100%;
     background-image: linear-gradient(to top, rgba(229, 236, 248, 0.32) 0%, rgba(189, 214, 246, 0.84) 50%, transparent 100%);
     background-attachment: fixed;
 }
.full-form {
    display: flex;
    align-items: flex-start;
    padding: 20px 35px 20px 30px;
    transition: border-color 0.3s, box-shadow 0.3s;
    border-radius: 0px;
    background-color: #f1f1ec;
    color: white;
    border-color: #f1f1ec;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-top:20%;
    width:50%;
}
form{
    width:80%;
    padding-left:5px;
}
.line{
    padding-top:20px;
    padding-bottom: 20px;
    color: rgba(2, 2, 9, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:90%;

}

.input-field-login {
    background-color: #e0e0da;
    color: white;
    padding: 10px 150px 10px 10px;
    border: 2px solid #E0E0DAFF;
    transition: border-color 0.3s;
    outline: none;
    border-radius: 3px;
    width:90%;
}

.input-field-login::placeholder {
    color: rgba(131, 133, 128, 0.8);
    font-family: 'Helvetica Neue', sans-serif;
    opacity: 0.7;
}

.input-field-login:focus {
    border-color: rgba(131, 133, 128, 0.8);
    box-shadow: 0 0 3px 1px rgba(131, 133, 128, 0.8);
    border-width: 1px;
}

.line-heading{
    padding-bottom:10px;
    padding-left:10px;
    color: rgba(2, 2, 9, 0.8);
}

.login-button {
    background-color: rgb(19, 18, 18);
    color: #fff8f8;
    border: 2px solid rgba(40, 39, 39, 0.27);
    transition: border-color 0.3s;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-top:35px;
    margin-left: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120%;
    text-decoration: none;
    font-weight: bolder;
}

.login-button:hover {
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.43);
}

.full-form {
    padding: 20px 35px 20px 30px;
    transition: border-color 0.3s, box-shadow 0.3s;
    border-radius: 3px;
    background-color: #f1f1ec;
    color: white;
    border-color: #f1f1ec;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.create-account-button{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right:100px;
    color: rgb(86, 83, 83);
    border: 2px solid #f1f1ec;
    transition: border-color 0.3s;
    outline: none;
    border-radius: 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #f1f1ec;
    width: 50%;
    margin-left:40%;
}


.create-account-button:hover {
    border-color: #f1f1ec;
    border-width: 2px;
}


@media (min-width: 900px) and (max-width: 1199px) {
    .full-form {
        padding: 15px;
        width: 60%;
        align-items:center;
    }
    form{
        width:90%;
    }
    .line{
        width:90%;
    }

    .input-field-login {
        width: 100%;
        padding: 10px;
    }

    .login-button, .create-account-button {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }
}


@media (max-width: 767px) {
    .main {
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .full-form {
        flex-direction: column;
        padding: 10px;
        width: 90%;
    }

    form{
        width:90%;
    }

    .line {
        width: 100%;
    }

    .input-field-login {
        padding: 10px;
        width: 100%;
    }

    .login-button, .create-account-button {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }
}

