.check.page {
    padding: 20px;
    margin-top: 100px;
    margin-left: 5%;
}
.check-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 20px;
}
.check-card {
    background-image: linear-gradient(to top, rgba(229, 236, 248, 0.32) 0%, rgba(225, 235, 248, 0.84) 50%, transparent 100%);
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.check-card:hover{
    transform: scale(1.03);
    z-index: 2;
}
.check-card h3 {
    margin-top: 5%;
}
.print-date{
    margin-top: -33%;
    margin-left: -5%;
    color: #42454b;
}
.sum-total{
    margin-top: 25%;
    margin-left: 50%;
    margin-bottom: -11%;
}
.delete-check{
    background-image: linear-gradient(to top, rgba(229, 236, 248, 0.32) 0%, rgba(227, 83, 133, 0.84) 50%, transparent 100%);
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    font-size: 13px;
    margin-top: -15%;
}
.open-check{
    background-image: linear-gradient(to top, rgba(229, 236, 248, 0.32) 0%, rgba(104, 224, 93, 0.84) 50%, transparent 100%);
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    font-size: 13px;
    margin-top: -15%;
    margin-left: 5%;
}
.total-check {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 9999;
    overflow-y: auto;
    height: 100vh;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.receipt {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 8%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 999;
}

.zigzag-top {
    position: relative;
    height: 15px;
    top: -32px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 10 10" preserveAspectRatio="none"><path d="M0 0 L5 10 L10 0 Z" fill="rgba(255, 255, 255, 1)"/></svg>');
    background-repeat: repeat-x;
    background-position: top;
    width: 339px;
    margin-left: -19.5px;
    transform: rotate(180deg);
}
.zigzag-bottom {
    position: relative;
    height: 15px;
    top: 32px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 10 10" preserveAspectRatio="none"><path d="M0 0 L5 10 L10 0 Z" fill="rgba(255, 255, 255, 1)"/></svg>');
    background-repeat: repeat-x;
    background-position: top;
    width: 339px;
    margin-left: -19.5px;
}

.header {
    text-align: center;
    display: block;
}

.items, .total, .payment, .vat, .barcode {
    margin-bottom: 10px;
}
.item {
    display: flex;
    justify-content: space-between;
    margin-top: -8%;
}
.vat-rates {
    display: flex;
    justify-content: space-between;
}
.delimiter{
    margin-top: -2%;
    margin-bottom: 2%;
}
.date-bar{
    width: 10%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 1%;
}
.search-condition-button {
    background-color: rgba(163, 195, 238, 0.69);
    border: 1px solid black;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
}
.add-check-button:hover,
.search-condition-button:hover {
    background-color: rgba(163, 195, 238, 0.69);
    background-image: linear-gradient(to top, rgba(229, 236, 248, 0.32) 0%, rgba(95, 155, 236, 0.84) 50%, transparent 100%);
}

.total-sales-section p {
    font-size: 25px;
    color: #333;
}

.add-check-button{
    background-color: rgba(163, 195, 238, 0.69);
    width: 10%;
    border: 1px solid black;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 49%;
}
.print-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.print-button:hover {
    background-color: #45a049;
}
@media print {
    #menuBarWrapper {
        display: none;
    }

    .print-button {
        display: none;
    }
}

