.employee-table{
    width: 100%;
    margin-top: 30px;
}
.search-bar-employee {
    width: 32.2%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    top: 100px;
    left: 10.25%;
}
.add-employee{
    background-color: rgba(163, 195, 238, 0.69);
    width: 8%;
    border: 1px solid black;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    top: 100px;
    right: -48%;
}
.add-employee-text{
    font-size: 15px;
    color: black;
}
.search-bar:hover {
    border-color: #2546af;
}
.title-employee{
    border: 1px solid black;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
    background-color: rgba(163, 195, 238, 0.69);
}
.delete-employee {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}
.edit-employee {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}
.employee-data{
    border: 1px solid black;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
}
.space{
    padding: 20px;
}
.title-employee:hover,
.employee-data:hover {
    background-image: linear-gradient(to top, rgba(229, 236, 248, 0.32) 0%, rgba(163, 195, 238, 0.84) 50%, transparent 100%);
    transform: scale(1.03);
    z-index: 2;
}
.title-employee:hover::before {
    content: attr(title);
    background-color: rgba(139, 182, 239, 0.76);
    color: white;
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 10px;
    position: absolute;
    bottom: 105%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
}
.delete-employee:hover {
    background-color: rgba(241, 178, 195, 0.67);
    background-image: linear-gradient(to top, rgba(250, 178, 191, 0.32) 0%, rgba(241, 108, 139, 0.84) 50%, transparent 100%);
    text-decoration: underline;
}
.edit-employee:hover,
.add-employee:hover {
    background-color: rgba(184, 241, 178, 0.67);
    background-image: linear-gradient(to top, rgba(190, 250, 178, 0.32) 0%, rgba(145, 241, 108, 0.84) 50%, transparent 100%);
    text-decoration: underline;
}
.error-message{
    text-align: center;
    position: relative;
    top: 250px;
}
.footer {
    color: black;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    top: 50%;
    left: 0;
    right: 0;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 998;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 90%;
    max-width: 600px;
}


.popup {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(163, 195, 238, 0.9) 50%, rgba(90, 160, 235, 0.9) 100%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 999;
}

.popup-content {
    text-align: left;
    position: relative;
}


.close {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 2;
}
.add-employee-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.add-employee-button,
.show-cashiers-button {
    background-color: rgba(163, 195, 238, 0.69);
    width: 8%;
    border: 1px solid black;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
}
.show-cashiers-button{
    margin-right:-62%;
}

.show-cashiers-button {
    margin-left: 10px;
}


.profile-container {
    border-radius: 10px;
    width: 50%;
    margin-left: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-details {
    text-align: center;
}

.profile-details h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.profile-details p {
    margin: 10px 0;
    font-size: 16px;
    color: #555555;
}

.profile-details strong {
    font-weight: bold;
    color: #222222;
}
.for-sales{
    margin-left:9.5%;
}
